$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";

$color-main: #f2f2f2;
$color-white: #fff;
$color-sedan: #e28625;
$color-suv: #006971;
$color-luxury: #004140;
