.car {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 4;
  padding: 4.8rem 4.9rem;

  &__image {
    width: 6.4rem;
    height: auto;
    grid-row: 1/2;
  }

  &__heading {
    @extend %text-heading;
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    color: $color-main;
    grid-row: 2/3;
  }

  &__info {
    @extend %text-info;
    color: $color-main;
    opacity: 75%;
  }

  &__link {
    &--sedan {
      color: $color-sedan;
    }

    &--suv {
      color: $color-suv;
    }

    &--luxury {
      color: $color-luxury;
    }
  }

  &:first-of-type {
    background-color: $color-sedan;
  }

  &:nth-of-type(2) {
    background-color: $color-suv;
  }
  &:last-of-type {
    background-color: $color-luxury;
  }
}

@include respond-to($breakpoint-desktops) {
  .car {
    padding: 4.8rem;

    &__heading {
      margin-bottom: -0.5rem;
    }

    &__link {
      align-self: end;
    }
  }
}
